* {
    margin: 0;
    padding: 0;
    font: 18px/1.4 "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
}
/* 1. BACKGROUND */
body{
    background-image: url(../img/Backgrounds/banners/banner4.png);
    height: 1000px;
    background-size: cover;
}
/* 2. CONTAINER-FLUID PAGE */
.container-fluid{
    padding: 0;
    margin: 0;
}
/* 3. NAVBAR */
/* 3.1 Nav bar */
.navbar-default{
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 1%;
    margin: 0;
}
/* 3.2 Navbar left elements*/
.navbar-left{
    height: 60px;
    padding-top: 5px;
}
/* 3.2 Navbar logo space */
.navbar-brand{
    width: 60px;
    margin: 0;
}
/* 3.3 Navbar logo */
a.navbar-brand{
    background-position: center;   
    background-size: 100%; 
    background-repeat: no-repeat;  
    background-image: url(../img/Logos/logor.png);
}
/* 3.3 Navbar "welcome" text */
.navbar-nav.navbar-center{
    position: absolute;
    left: 75%;
    padding-top: 19px;
}
#welcome{
    color: rgb(155, 0, 0);
    width: 100%;

}
.dropdown-menu>li>a>{
    text-align: center;
    padding-top: 20px;
}
.dropdown-menu>li>a:hover{
    color: #9b0000;
}
.dropdown-menu>li>a:focus{
    border-bottom: solid rgb(155, 0, 0) 1px;

}
.navbar-nav>li>.dropdown-menu {
    border: 0;
    background-color: rgb(245, 245, 245);
    box-shadow: none;
    border-radius: 0;
    border-right: solid rgb(155, 0, 0) 1px;
}
.material-icons{
    font-size: 45px;
    margin-top: 5px;
    margin-right: 15px;
    margin-left: 15px;
    color: rgb(155, 0, 0);
}

.material-icons:hover{
    color: rgb(80, 0, 0);
}
#userIcon{
    padding: 0;

}
#configIcon{
    font-size: 19px;
    padding-right: 3px;
    margin: 0;
    float: left;
    color: rgb(0, 0, 0);
}
#info{
    color: #9b0000;
}
#langContent{
    height: 1000px;
    margin-top: 3%;
}
#btnLang{
    color: rgb(46, 46, 46);
    border-radius: 5px 40px 40px 5px;
    border: none;
    width: 100%;
    
    background-color: transparent;
}
#btnLang:hover{
    background-color: rgb(155, 0, 0);
    color: rgb(255, 255, 255);
    padding-top: 6%;
    padding-bottom: 5%;
}
#btnLang:focus{
    outline: transparent;
    background-color: rgb(155, 0, 0);
    padding-top: 6%;
    padding-bottom: 5%;
    color: white;
}
#langMenu, #langMenu1, #langMenu2, #langMenu3, #langMenu4{
    background-color: transparent;
    padding-left: 15%;
    margin-left: 32%;
    min-width: 126px;
    border: none;
    box-shadow: none;
    list-style: none;
}
#level{
    padding-top: 7%;
    margin: 0;
    width: 70%;
    border-bottom: 1px solid whitesmoke;

}
#level:hover{
    border-bottom: 1px solid rgb(155, 0, 0);
    font-weight: bold;
    color: rgb(155, 0, 0);
}
#level:focus{
    border-bottom: 1px solid rgb(155, 0, 0);
    font-weight: bold;
    color: rgb(36, 155, 0);
}
