* {
    margin: 0;
    padding: 0;
}
#head >img{
    width: 100%;
    max-height: 3%;
}
.container{
    background: #FEFEFE;
    width: 60%;
}
#title{
    text-align: center;

}

#passForgottenLink{
    border-radius: 20px 20px 20px 20px;
    background-color: #9b0000;
    border: none;
}
#passForgottenLink:hover{
    border-radius: 20px 20px 20px 20px;
    background-color: #700000;
    border: none;
}
#passForgottenLink:focus{
    outline: none;
    box-shadow: none;
}
.form-control{
    border-style: solid;
    border-left-width: 5px;
    margin-bottom: 3%;
}

.form-control:focus{
    -webkit-box-shadow: none;
    border-color: -webkit-linear-gradient(left, #3931af, #00c6ff);
    border-left-width: 8px;
}