@font-face {
    font-family: Antonio;
    src: url(../fonts/Antonio-Bold.ttf);
  }
  * {
    margin: 0;
    padding: 0;
    font: 18px/1.4 "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  }
  /* 1. BACKGROUND */
  body {
    background-image: url();
    height: 1200px;
    background-size: cover;
  }
  /* 2. CONTAINER-FLUID PAGE */
  .container-fluid {
    padding: 0;
    margin: 0;
  }
  /* 3. NAVBAR */
  /* 3.1 Nav bar */
  nav {
    background-color: rgba(255, 255, 255, 0.904);
  }
  .navbar-brand {
    width: 50px;
    height: 40px;
    margin: 0;
  }
  a.navbar-brand {
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../img/Logos/logor.png);
  }
  .dropdown-menu {
    border: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: none;
    border-radius: 1;
    padding-top: 0;
    margin-right: 30px;
    text-align: right;
  }
  .dropdown-item {
    background-color: transparent;
    padding: 5px;
    border-bottom: 3px solid transparent;
  }
  .dropdown-item:hover {
    background-color: transparent;
    border-bottom: 3px solid rgb(155, 0, 0);
  }
  .material-icons {
    font-size: 45px;
    margin-top: 5px;
    margin-right: 15px;
    margin-left: 15px;
    color: rgb(155, 0, 0);
  }
  .material-icons:hover {
    color: rgb(80, 0, 0);
  }
  #userIcon {
    padding: 0;
  }
  #configIcon {
    font-size: 25px;
    padding-right: 10px;
    padding-top: 1px;
    margin: 0;
    float: left;
    color: rgb(0, 0, 0);
  }
  #info {
    color: #9b0000;
  }
  #content {
    margin-top: 5%;
  }
  #carouselSmartNews{
    margin-top: 0;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../img/Backgrounds/whiteFigures.png);
}
  .carousel-inner img {
    width: 90%;
    height: 100%;
    border-radius: 0px 20px 0px 20px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.26);

}
  .carousel {
    width: 100%;
    height: 35%;
    margin-left: 5%;
}
.carousel-control-next{
    right: 10%
}
#slideArrow{
    color: rgb(83, 83, 83);
    font-size: 50px;
}
.carousel-caption{
    left: 50%;
    bottom: 60%;
    right: 0%;
    color: #9b0000;
}
#QA{
    margin-top: 2%;
    margin-left: 6%;

}
#leftRow{

}
#textQA{
    width: 78%;
    height: 300px;
    text-align: center;
    background-position: center;
    background-size: 100%;
    background-image: url(../img/Backgrounds/quest.png);
    border-radius: 0px 20px 0px 20px;
    border: 1px solid whitesmoke;
    color: #9b0000;
    line-height: 300px;
    font-family: Antonio;
    font-size: 30px;
}
#textQA:hover{
    background-image: url(../img/Backgrounds/quest2.png);
    color: white;
}
#infoIcon{
    width: 10%;
    float: left;
    margin-right: 2%;
}
#textReminds{
    line-height: 90px;
}
form{
    padding: 2%;
}
