@font-face {
    font-family: Antonio;
    src: url(../fonts/Antonio-Bold.ttf);
  }
  * {
    margin: 0;
    padding: 0;
    font: 18px/1.4 "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  }
  /* 1. BACKGROUND */
  body {
    overflow-x: hidden;

  }
  
  /* 2. CONTAINER-FLUID PAGE */
  .container-fluid {
    padding: 0;
    margin: 0;
  }
  /* 3. NAVBAR */
  /* 3.1 Nav bar */
  nav {
    background-color: rgba(255, 255, 255, 0.904);
  }
  .navbar-brand {
    width: 50px;
    height: 40px;
    margin: 0;
  }
  a.navbar-brand {
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../img/Logos/logor.png);
  }
  .dropdown-menu {
    border: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: none;
    padding-top: 0;
    margin-right: 30px;
    text-align: right;
  }
  .dropdown-menu:focus {
    outline: none;
    box-shadow: none;
  }
  .dropdown-item {
    background-color: transparent;
    padding: 5px;
    border-bottom: 3px solid transparent;
  }
  .dropdown-item:hover {
    background-color: transparent;
    border-bottom: 3px solid rgb(155, 0, 0);
  }
  .dropdown-item.active, .dropdown-item:active {
    color: black;
    text-decoration: none;
    background-color: white;
}
  .material-icons {
    font-size: 45px;
    margin-top: 5px;
    margin-right: 15px;
    margin-left: 15px;
    color: rgb(155, 0, 0);
  }
  .material-icons:hover {
    color: rgb(80, 0, 0);
  }
  #userIcon {
    padding: 0;
  }
  #configIcon {
    font-size: 25px;
    padding-right: 10px;
    padding-top: 1px;
    margin: 0;
    float: left;
    color: rgb(0, 0, 0);
  }
  #info {
    color: #9b0000;
  }
  #content {
    margin-top: 5%;
  }
  #carouselSmartNews{
    margin-top: 0;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../img/Backgrounds/whiteFigures.png);
}
  .carousel-inner img {
    width: 90%;
    height: 100%;
    border-radius: 0px 20px 0px 20px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.26);

}
.carousel {
    width: 100%;
    height: 70%;
    margin-left: 5%;
}
.carousel-control-next{
    right: 10%
}
#slideArrow{
    color: rgb(83, 83, 83);
    font-size: 50px;
}
.carousel-caption{
    left: 53%;
    bottom: 16%;
    right: 0%;
    width: 30%;
}
#captionTitle{
  font-family: Antonio;
  color: #9b0000;
  letter-spacing: 5px;
  border-bottom: 1px solid #9b0000;
}
#captionDesc{
  color: black;
  text-align: center;
  margin-top: 7%;
}
#captionLink{
  background-color: #20b2aa;
  border: none;
  border-radius: 20px 20px 20px 20px;
  width: 30%;
  font-weight: bold;
  font-size: large;
}
#captionLink:hover{
  background-color: rgb(44, 136, 131);
  border: none;
  width: 30%;
}
#captionLink:focus{
  outline: none;
  border: 1px solid rgb(49, 136, 132);
}
#reminds{
    margin-top: 2%;
    margin-left: 6%;
}
#virtualClasses{
    width: 300px;
    height: 300px;
    text-align: center;
    background-position: top;
    background-size: 100%;
    background-image: url(../img/Backgrounds/virtualClass.png);
    border-radius: 0px 20px 0px 20px;
    border: 1px solid whitesmoke;

}
#virtualClasses:hover{
  transform: scale(1.1, 1.1);
  box-shadow: 5px 5px rgb(218, 218, 218);
}
#infoIcon{
  width: 10%;
  float: left;
  margin-right: 2%;
}
#textReminds{
  line-height: 90px;
}
#formNotes{
  width: 100%;
}
#pillField{
  width: 38%;
}
#columnForm{
  padding: 0;
  margin-bottom: 1%;
}
#langlevel{
  background-color: white;
  border-radius: 20px 0px 0px 20px;
  width: 100%;
  border: 1px solid rgb(235, 235, 235);
}
#typeExam{
  background-color: white;
  border-radius: 0px 0px 0px 0px;
  width: 100%;
  border: 1px solid rgb(235, 235, 235);
}
#units{
  background-color: white;
  border-radius: 0px 20px 20px 0px;
  width: 100%;
  border: 1px solid rgb(235, 235, 235);
}
#notes{
  background-color: white;
  border-radius: 20px 0px 0px 20px;
  width: 100%;
  border: 1px solid rgb(235, 235, 235);

}
#langlevel:hover, #typeExam:hover, #units:hover{
  border: 1px solid #9b0000;
}
#langlevel:focus, #typeExam:focus, #units:focus, #notes:focus{
  outline: none;
  box-shadow: none;
}
#notes:hover{
  background-color: #9b0000;
  border: 1px solid #9b0000;

}
#btnSaveN{
  background-color: #9b0000;
  border-radius: 0px 20px 20px 0px;
  width: 100%;
  border: 1px solid #9b0000;
}
#btnSaveN:focus{
  outline: none;
}
#sec1{
  margin-top: 6%;
  background-position: center;
  background-size: 100%;
  background-image: url(../img/Backgrounds/redFigures.png);
  color: white;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.596);
}
#workbook{
  margin-left: 6%;
}
#workIcon{
  width: 14%;
  margin-top: 3%;
  margin-left: 2%;
  margin-bottom: 2%;
  float: right;
  margin-right: 7%;
}
#textWork{
  font-family: Antonio;
  letter-spacing: 5px;
  margin-top: 4%;
}
#linkIcon{
  width: 5%;
  margin-top: 0.1%;
  margin-bottom:2%;
  float: left;
  border-radius: 100%;
  margin-right: 2%;
}
#aWork{
  margin-top: 4%;
  line-height: 70px;
  color: white;
  font-size: larger;
  font-weight: bold;

}
#doubts{
  text-align: center;
  width: 100%;
  height: 250px;
  background-position: center;
  background-size: 100%;
  background-image: url(../img/Backgrounds/banners/doubts.png);
}
#doubtsLink{
  margin-top: 12%;
  border-radius: 30px 30px 30px 30px;
  border: 1px solid whitesmoke;
  width: 30%;
  height: 20%;
  line-height: 35px;
  background-color: #9b0000;
}
#doubtsLink:hover{
  background-color: #680000;
}
#sec2{
  background-color: #fcfcfc;
  width: 100%;
}
#footer {
  width: 100%;
  background-color: #fcfcfc;
}
#contact{
  margin-left: 6%;
  margin-right: 6%;
  background-color: #fcfcfc;

}
#mailIcon{
  width: 70%;
  margin-bottom:2%;
  margin-right: 2%;
}
#textContact{
  font-family: Antonio;
  letter-spacing: 5px;
  font-size: 50px;
  color: rgb(44, 44, 44);
}
#formContact{
  width: 90%;
  margin-top: 5%;
}
#columnFormC{
  border-radius: 30px 30px 30px 30px;
  border: 1px solid rgb(233, 233, 233);
  margin-bottom: 3%;
}
#columnFormC:hover{
  border: 1px solid #20b2aa;
}
#contactIcon{
  color: #20b2aa;
  font-size: 30px;
}
#contactField{
  border: none;
  background-color: transparent;

}
#contactField:focus, #messageC:focus, #doubtsLink:focus{
  box-shadow: none;
}
#messageC{
  margin-top: 3px;
  margin-bottom: 3px;
  border: none;
}
#containerBtnContact{
  background-color: #20b2aa;
  border-radius: 30px 30px 30px 30px;
}
#containerBtnContact:hover{
  background-color: rgb(44, 136, 131);
}
#btnSaveC{
  background-color: transparent;
  border-radius: 0;
  width: 100%;
  border: none;
  color: rgb(44, 44, 44);
}
#btnSaveN:hover{
  background-color: transparent;
  color: #680000;
}
#btnSaveN:focus, #btnSaveC:focus{
  outline: none;
  box-shadow: none;
}
#notesIcon{
  width: 10%;
  float: left;
  margin-right: 2%;
}
#notesIcon:hover{
  transform: scale(1.5, 1.5);
  margin-right: 4%;
}
#infoNotes{
  color: #9b0000;
  font-style: italic;

}
#containerMessage{
  flex: none;
}
#alert {
  background-color: whitesmoke;
  color: black;
  border: solid rgb(240, 240, 240) 3px;
  width: 50%;
  text-align: center;
  padding: 10px;
  height: 49px;
  position: fixed;
  top: 308px;
  z-index: 100;
}
#alert a {
  color: #9b0000 !important;
}
