* {
    margin: 0;
    padding: 0;
    font: 16px/1.4 "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
}
/* 1. BACKGROUND BANKSY IMAGE */
body{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* 2. REGISTRATION WIZARD */
/* 2.2 Wizard underline */
.nav-tabs {
    border-bottom: none;
    padding-top: 10%;
    padding-bottom: 5%;
}

/* 9. Form lengh */
form{
    margin-left: 15%;
    margin-right: 15%;
}

/* 2.4 Wizard icons bar middle */
.wizard-inner{
    margin-left: 15%;
    margin-right: 15%;
}
/* 2.4 Wizard space between icons */
.wizard .nav-tabs > li{
    margin-left: 11%;
}
/* 2.4 Wizard icons borderline */
.wizard .nav-tabs > li a{
    width: 100%;
    padding: 10px;
    border-top: solid rgb(155, 0, 0) 4px;
}
/* 2.5 Wizard active icon color */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
    color: rgb(155, 0, 0);
    background-color: transparent;
    border-left: none;
    border-right: none;
    border-top: solid rgb(155, 0, 0) 7px;
    border-bottom: none;
}
/* 2.6 Wizard icons hover */
.nav>li>a:hover{
    border-left: none;
    border-right: none;
    border-top: solid rgba(155, 0, 0, 0.568) 7px;
    border-bottom: none;
    background-color: transparent;
    color: rgba(155, 0, 0, 0.568);
}
/* 2.5 Wizard disable icon color */
.nav>li.disabled>a{
    color: rgb(255, 255, 255);
}
/* 2.5 Wizard disable icon hover */
.nav>li.disabled>a:hover, .nav>li.disabled>a:focus{
    color: rgba(155, 0, 0, 0.568);
}

/* 2.7 Wizard icons size */
.material-icons{
    font-size: 50px;
}
/* 3. PAGE HEADER */
#header{
    background: transparent;
    width: 100%;
    height: 50%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
}
/* 3.1 Header logo */
.container-fluid{
    margin: 0;
    padding: 0;
}
#logo{
    height: 40px;
    background-size: 50px; 
    background-repeat: no-repeat;  
    background-image: url(../img/Logos/logow.png);
}
/* 3.2 Header logo hover */
#logo:hover{
    background-image: url(../img/Logos/logor.png);
}
/* 4. BABLE NAME IMAGE*/
#title{
    height: 150px;
    background-size: 300px; 
    background-position: center;    
    background-repeat: no-repeat; 
    background-image: url(../img/Logos/titlewh.png);
}
/* 4.1 Bable name image hover */
#title:hover{
    background-image: url(../img/Logos/titlerh.png);
}
/* 5. TEXT "CREATE ACCOUNT" */
#titlep{
    text-align: center;
    color: white;
}
/* 6. Div "Sign in" button */
#reg{
    padding-top: 1%;
    text-align: right;
}
/* 7. "Sign in" button hover */
#login:hover{
    color: rgb(155, 0, 0);
}
/* 7. Div all page content*/

#content{
    margin-left: 15%;
    margin-right: 15%;

}
#login{
    color: #939192;
    background: #FEFDFD;
    padding: 9px;
    border-radius: 2px;
    width: 130px;
}
button:focus{
    color: rgb(155, 0, 0);
    border: solid rgb(155, 0, 0) 1px;
}
button:hover{
    color: rgb(155, 0, 0);
}
input[type="text"], input[type="password"], input[type="email"] {
    border-style: none;
    border-radius: 0;
    padding: 4%;
    background: #FEFDFD;
    width: 100%;
}
#checks{
    float: left;
    margin-right: 5px;
}
#ranswer{
    margin-bottom: 20px;
}
.form-group{
    margin-bottom: 6px;
    padding-left: 3px;
    padding-right: 3px;
}
select{
    border-style: none;
    border-radius: 0;
    padding: 4%;
    background: #FEFDFD;
    width: 100%;
}

#info{
    color: white;
}
button{
    color: rgb(70, 70, 70);
    background-image: url(../img/Gifs/figures.gif);
    background-size: 100% ;
    padding: 9px;
    border-radius: 2.5px;
    border-style: none;
    margin-top: 15px;
    width: 100%;
}
input:focus, button:focus, select:focus{
    outline: none;
}
#nameUser{
    min-height: 10px;
    padding-left: 14px;
}
#questinfo{
    text-align: justify;
    color: white;
}
#alert{
    background-color: #00000057;
    color: rgb(255, 255, 255);
    border: solid rgba(0, 0, 0, 0.089) 3px;
    width: 50%;
    text-align:center;
    padding: 20px;
}
#answer{
      margin-top: 5%;
      color: white;
}
a{
    color: white;
}
a:hover{
    text-decoration: none;
    color: rgb(155, 0, 0);
}