* {
    margin: 0;
    padding: 0;
    font: 16px/1.4 "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.container-fluid{
    display: block;
}
.wizard{
    text-align: center;
}
.wizard > div.wizard-inner {
    position: relative;
}
.nav-tabs {
    border-bottom: none;
}
.wizard .nav-tabs > li {
    width: 25%;
}
span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #f8f9fa;;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
.wizard li.active span.round-tab i{
    color: rgb(155, 0, 0);
}
.wizard .nav-tabs > li a{
    width: 70px;
    height: 70px;
    margin: 20px auto; 
    padding: 7px;
    color: #e0e0e0;
    border-top: solid rgb(155, 0, 0) 4px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
    color: rgb(155, 0, 0);
    background-color: transparent;
    border-left: none;
    border-right: none;
    border-top: solid rgb(155, 0, 0) 7px;
    border-bottom: none;
}
.nav-tabs>li.disabled>a:focus{
    color: rgb(255, 255, 255);

}
.nav>li.disabled>a:hover{
    background-color: transparent;
    color: rgba(155, 0, 0, 0.568) ;
    border-top: solid rgba(155, 0, 0, 0.568) 7px;

}
.nav>li>a:hover{
    border-left: none;
    border-right: none;
    border-top: solid rgba(155, 0, 0, 0.568) 7px;
    border-bottom: none;
    background-color: transparent;
    color: rgba(155, 0, 0, 0.568);
}
.material-icons{
    font-size: 50px;}
ul{
    padding-top: 3%;
}
#header{
    background: transparent;
    width: 100%;
    height: 50%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
}
#logo{
    min-height: 60px;
    min-width: 100%;
    background-position: left;    background-size: 7%; 
    background-repeat: no-repeat;  
    background-image: url(../img/logo.png);
}
#logo:hover{
    background-image: url(../img/logor.png);
}
#title{
    min-height: 160px;
    min-width: 100%;
    background-position: center;    
    background-size: 60%; 
    background-repeat: no-repeat; 
    background-image: url(../img/titlewh.png);
}
#title:hover{
    background-image: url(../img/titlerh.png);
}
#titlep{
    text-align: center;
    color: white;
}
#reg{
    padding-top: 0.7%;
    text-align: right;
}
#login:hover{
    color: rgb(155, 0, 0);
}
#content{
    max-width: 50%;
    max-height: 100%;
    background: transparent;
    display: block;
    padding-top: 1%;
    padding-bottom: 5%;

}
#login{
    color: #939192;
    background: #FEFDFD;
    padding: 9px;
    border-radius: 2px;
    width: 130px;
}
button:focus{
    color: rgb(155, 0, 0);
    border: solid rgb(155, 0, 0) 1px;
}
button:hover{
    color: rgb(155, 0, 0);
}
input[type="text"], input[type="password"], input[type="email"] {
    border-style: none;
    border-radius: 0;
    padding: 4%;
    background: #FEFDFD;
    width: 100%;
}
#checks{
    float: left;
    margin-right: 5px;
}
#ranswer{
    margin-bottom: 20px;
}
.form-group{
    margin-bottom: 6px;
    padding-left: 3px;
    padding-right: 3px;
}
select{
    border-style: none;
    border-radius: 0;
    padding: 4%;
    background: #FEFDFD;
    width: 100%;
}

#info{
    color: white;
}
button{
    color: rgb(70, 70, 70);
    background-image: url(../img/figures.gif);
    background-size: 100% ;
    padding: 9px;
    border-radius: 2.5px;
    border-style: none;
    margin-top: 15px;
    width: 100%;
}
input:focus, button:focus, select:focus{
    outline: none;
}
#nameUser{
    min-height: 10px;
    padding-left: 14px;
}
#questinfo{
    text-align: justify;
    color: white;
}
#alert{
    background-color: #00000057;
    color: rgb(255, 255, 255);
    border: solid rgba(0, 0, 0, 0.089) 3px;
    width: 50%;
    text-align:center;
    padding: 20px;
}
#answer{
      margin-top: 5%;
      color: white;
}
a{
    color: white;
}
a:hover{
    text-decoration: none;
    color: rgb(155, 0, 0);
}